---
titleAfter: Graphic Design Portfolio
priority: 1.0
changefreq: weekly
---

<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Shelby Boyd {% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
    <link href="}css/grid.css" rel="stylesheet">
    <link href="css/type.css" rel="stylesheet">
    <link href="css/list-groups.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600|Josefin+Slab' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/favicon.png" >
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    
    <ul class="skip-links">
        <li> <a href="#about">Skip to main content</a></li>
        <li> <a href="#navigation"> Skip to navigation</a></li>
    </ul>
    
    <div class="list-group">
        <nav role="navigation" id="navigation">
            <ul>
                <li class="navigation giga pad-t-1-2 list-group__item list-group__item--inline"><a class="link" href="#about">About Me</a></li>
                <li class="navigation giga pad-t-1-2 gutter-1-2 list-group__item list-group__item--inline"><a class="link" href="#portfolio">Portfolio</a></li>
                <li class="navigation giga pad-t-1-2  list-group__item list-group__item--inline"><a class="link" href="#contact">Contact</a></li>
            </ul>
        </nav> 
    </div>
    
    <div id="home" class="header">
        <img class="portrait" src="assets/me.svg" alt="Shelby">
    </div>
    
    <p id="about">I am a young designer currently based out of Ottawa, Ontario. I find inspiration all around me; from my traditional, simple country lifestyle, to my new found exciting, busy city life. Design has always been a part of human culture and as I have always been a visual learner, I love bringing a strong elemenet of design into visual communication.</p>
    
    {% for data in site.data.portfolio %}  
     <div id="portfolio">
        <h1>{{portfolio.name}}</h1>
            <div class="grid">
                <div class="images">
                    <img class="first unit-xs-1 unit-s-1 unit-m-1 unit-l-1-3" src="{{site.baseurl}}assets/image.svg" alt="image">
                    <img class="second unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3" src="{{site.baseurl}}assets/image.svg" alt="image">
                    <img class="third unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3" src="{{site.baseurl}}assets/image.svg" alt="image">
                </div>
            </div>
        <p>{{portfolio.description}}</p>
    
     
    
        <h1>{{portfolio.name}}</h1>
            <div class="grid">
                <div class="images">
                    <img class="first unit-xs-1 unit-s-1 unit-m-1 unit-l-1-3" src="{{site.baseurl}}assets/image.svg" alt="image">
                    <img class="second unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3" src="{{site.baseurl}}assets/image.svg" alt="image">
                    <img class="third unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3" src="{{site.baseurl}}assets/image.svg" alt="image">
                </div>
            </div>
        <p>{{portfolio.description}}</p>
        
        <h1>{{portfolio.name}}</h1>
            <div class="grid">
                <div class="images">
                    <img class="first unit-xs-1 unit-s-1 unit-m-1 unit-l-1-3" src="{{site.baseurl}}assets/image.svg" alt="image">
                    <img class="second unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3" src="{{site.baseurl}}assets/image.svg" alt="image">
                    <img class="third unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3" src="{{site.baseurl}}assets/image.svg" alt="image">
                </div>
            </div>
        <p>{{portfolio.description}}</p>
     </div>
    
     {% endfor %}
<div itemscope itemtype="http://schema.org/Person">    
    <div id="contact" class="contact">
        <a href="https://www.behance.net/ShelbyBoyd" itemprop="url" class="link">
            <img src="assets/behance.svg" alt="behance" class="socialmedia">
        </a>
        
        <a href="https://instagram.com/theshelbyyboyd/" itemprop="url" class="link">
            <img src="assets/instagram.svg" alt="instagram" class="socialmedia">
        </a>
        
        <a href="https://twitter.com/ShelbyyBoyd" itemprop="url" class="link">
            <img src="assets/twitter.svg" alt="twitter" class="socialmedia">
        </a>
    </div>
        <a class="email" href="mailto:hey@shelbyboyd.ca" itemprop="email">hey@shelbyboyd.ca</a>
    </div>
    
</body>
    
<footer>
    <a href="#home" class="backtotop">Top</a>
    <p class="copyright micro">© Copyright Shelby Boyd 2015</p>
</footer>
